<div class="container" id="landing_jumbotron_container">
  <div class="jumbotron text-center text-white" id="landing_jumbotron">
    <h1 class="display-4">YAHW</h1>
    <p class="lead">Yet Another Hello World - Rails Edition!</p>
    <hr class="my-4">
    <p><a id="about_me_link" href="/about">About me</a></p>
    <p><a id="articles_link" href="/articles">Articles</a></p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>
