@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white;
  font-size: 1.8em;
  float: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#landing_jumbotron_container {
  margin-top: 30px;
}

#landing_jumbotron {
  height: 450px;
  background-image: asset_url("landing_jumbotron_background");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: unset;
}

#about_me_link {
  color: white;
}

#articles_link {
  color: white;
}
